<!DOCTYPE html>
<html>
  <head>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/testPost.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="button" value="流程1" onclick="process1()"/>
    <input type="button" value="流程2" onclick="process2()"/>
    <input type="button" value="流程1同意" onclick="process1Agree()"/>
    <input type="button" value="流程2同意" onclick="process2Agree()"/>
    <input type="button" value="流程1拒绝" onclick="process1Refuse()"/>
    <input type="button" value="流程2拒绝" onclick="process2Refuse()"/>
  </body>
</html>
