<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div id="root">123</div>
      <script src="../client/js/main.js"></script>
    </body>
</html>
